version = "0.0.1"
log_level = "INFO" # Must be one of TRACE, DEBUG, INFO, WARN, ERROR

wallet_path = "~/.bittensor/wallets"
wallet_name = "default"
hotkey_name = "default"

db_file = "storb_data/database.db"

[subtensor]
network = "finney"
address = "wss://entrypoint-finney.opentensor.ai:443"
netuid = 26

[neuron]
sync_frequency = 300
load_old_nodes = true
min_stake_threshold = 1000
allowed_validators = []

[otel]
api_key = ""
endpoint = ""
service_name = ""
